@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Asynchronous Programming</h1>
</div>

<a asp-area="" asp-controller="Home" asp-action="MakeBreakfast" class="btn btn-primary btn-block active">Make Breakfast</a>
<a asp-area="" asp-controller="Home" asp-action="AsyncMakeBreakfast" class="btn btn-secondary btn-block active">Make Breakfast Async</a>